<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Keenan Berry">
    <title>KantarClean</title>
</head>
<body>
  <h1>Welcome to KantarClean!</h1>
  <p><pre>&nbsp; > Use this tool to get label recommendations for unclean database entries.</pre></p><br>
  <h3>Select a file to upload</h3>
  <form method="POST" action="/" enctype="multipart/form-data">
      <p>
        <input type="file" name="file" autocomplete="off" required>
      </p>
      <h3>Select the file type</h3>
      <p>
        <select id="mySelect" name = "type">
            <option value="indication">Indication</option>
            <option value="drug">Drug</option>
        </select>
      </p>
      <p><strong>Please choose the number of neighbors for classification</strong><br>
        (Recommend n=3 for Drug data and n=5 for Indication data)
      </p>
      <p>
          Neighbors = <input type="number" name="neighbors">
      </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
</body>
</html>