<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Keenan Berry">
    <title>Kantar Cleaning Tool Selection</title>
</head>
<body>
  <h2>Select a file to upload</h2>
  <form method="post" action="/" enctype="multipart/form-data">
    <dl>
      <p>
        <input type="file" name="file" autocomplete="off" required>
      </p>
    </dl>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
  <br>
  <h2>Select the file type</h2>
  <form id="form1" action="/login" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name = "=type">
      <option value="Indications">Indications</option>
      <option value="Drugs">Drugs</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</body>
</html>